<header>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">MQTT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="">
    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>Тема</th>
            <th>Дата</th>
            <th>Стан роботи</th>
            <th>Режим</th>
            <th>Зах. потенціал</th>
            <th>Напруга</th>
            <th>Струм</th>
            <th>Стан дверей</th>
            <th>Температура</th>
            <th>Стан мережі</th>
            <th>Лічильник</th>
            <th>Якість сигналу</th>
            <th>Стан аккумулятора</th>
            <th>Час напрацювання</th>
            <th>Періодичність</th>
            <th>Аварія</th>
            <th>Пейлоад</th>
        </tr>
        </thead>
        {{#each resultMap}}
            <tbody>
            <tr>
                <td>{{topic}}</td>
                <td>{{chas}}</td>
                <td>{{stan_roboti}}</td>
                <td>{{rejim_roboti}}</td>
                <td>{{zah_potencial}}</td>
                <td>{{napruga}}</td>
                <td>{{strum}}</td>
                <td>{{stan_dverei}}</td>
                <td>{{temperatura}}</td>
                <td>{{stan_mereji}}</td>
                <td>{{lichilnik}}</td>
                <td>{{yakist_signalu}}</td>
                <td>{{stan_akkumulyatora}}</td>
                <td>{{chas_napracyuvannya}}</td>
                <td>{{periodichnist}}</td>
                <td>{{avariya}}</td>
                <td>{{payload}}</td>
            </tr>
            </tbody>
        {{/each}}
    </table>
</main>
